<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>First Vue!</title>
</head>

<body>
  <h1>First Vue!</h1>
  <div id="app">
    <div v-if="!currentUser.email">
      <h1>{{ message }}</h1>
      <form @submit.prevent="login()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input v-model="loginForm.email" type="email" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input v-model="loginForm.password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div v-else>
      <h1>{{ message }}</h1>
      <form @submit.prevent="addNote()">
        <div class="mb-3">
          <label for="noteAuthor" class="form-label">Author</label>
          <input v-model="noteForm.author" type="text" class="form-control" id="noteAuthor">
        </div>
        <div class="mb-3">
          <label for="noteMsg" class="form-label">Msg</label>
          <input v-model="noteForm.msg" type="text" class="form-control" id="noteMsg">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <button @click="showNotes()" class="btn btn-primary">Show notes</button>


      <ul class="list-group">
        <li v-for="note in notes" class="list-group-item">{{ note.author }}: {{ note.msg }}</li>
      </ul>
    </div>
  </div>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->

  <script>

    Vue.createApp({
      data() {
        return {
          message: 'Login Form',
          currentUser: {},
          loginForm: {
            email: '',
            password: ''
          },
          notes: [],
          noteForm: {
            msg: '',
            author: ''
          }
        }
      },
      methods: {
        login() {
          if (this.loginForm.email && this.loginForm.password) {
            this.message = 'Note form'
          this.currentUser = this.loginForm
          }
        },
        addNote() {
          this.notes.push(this.noteForm);
          this.noteForm = {
            msg: '',
            author: ''
          }
        },
        showNotes() {
          console.log(this.notes);
        }
      }
    }).mount('#app')
  </script>
</body>

</html>